body {
    background-color: aqua;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
img {
    height: 220px;
    width: 220px;
}

ul {
    list-style-type: none;
    font-size: 25px;
    line-height: 35px;
}

h1 {
    font-size: 50px;
    margin-top: 50px;
}

.home-page {
    width: 92%;
    margin: 0 auto;
}