html {
    font-family: 'Courier New', Courier, monospace;
  }

  .dog-list-title {
    border-bottom: 5px solid lightpink;
    margin: 25px auto;
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    height: 75px;
    padding-top: 25px;
  }

  .list-container {
    padding: 5px;
    width: 1200px;
    margin: 0 auto;
  }

  img {
  max-width: 200px;
  }
  .even {
    background: mistyrose;
  }

  .odd {
    background: lightpink;
  }

  form {
    padding: 50px;
    width: 1200px;
    margin: 0 auto;
  }

  th {
    text-transform: uppercase;
    font-size: 15px;
  }

  td {
    padding: 20px;
  }

  button {
    background: white;
    border: none;
    border-radius: 50%;
  }

  legend {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
  }

  .form-input {
    margin: 35px;
  }

  .form-add-button {
    background: pink;
    border-radius: 0;
    font-family:'Courier New', Courier, monospace;
    font-size: 15px;
    margin: 20px;
    padding: 20px;
    text-transform: uppercase;
    color: white;
    font-weight: 800;
  }

  label {
    padding-right: 20px;
  }